{% extends 'base.html' %}
{% block content %}
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">Networks</button>
    <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Credentials</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade container border border-top-0" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <br/>
        {% if ipaddresses %}
            {% for ip in ipaddresses %}
            <div class="card container">
                <div class="row">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                {% if ip.subnet %}
                                    <h5><strong>{{ ip.subnet }}</strong></h5>
                                {% elif ip.range %}
                                    <h5><strong>{{ ip.range }}</strong></h5>
                                {% elif ip.host %}
                                    <h5><strong>{{ ip.host }}</strong></h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end card-footer">
            {#          <a href="{% url 'edit_ip' ip.id %}" class="btn btn-primary">Edit</a>#}
                </div>
            </div>
            <br/><br/>
            {% endfor %}
        {% endif %}
  </div>
  <div class="tab-pane fade show active container border border-top-0" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <h3>Add Credentials</h3>
    <br/>

    <form method="POST" action="{% url 'add_credentials' %}">
        {%  csrf_token %}

        {{ form.as_p  }}

    <br/>
        <button type="submit" class="btn btn-secondary">Add Credentials</button>
    </form>
    <br/><br/>
  </div>
  <div class="tab-pane fade container border border-top-0" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
{% endblock content %}