{% extends 'base.html' %}
{% block content %}
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Networks</button>
    <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Credentials</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade container border border-top-0" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <br/>
        <a href="{% url 'add_network' %}" class="btn btn btn-dark" role="button" aria-disabled="true">Add</a>
        <br/><br/>
        {% if ipaddresses %}
            <div class="card container">
                <div class="row">
                    <div class="card-header">
                        <table class="table">
                          <thead>
                            <tr>
                                <th scope="col">Address</th>
                                <th scope="col">Type</th>
                                <th scope="col">Frequency</th>
                                <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for ip in ipaddresses %}
                            <tr>
                              {% if ip.subnet %}
                              <td>{{ ip.subnet }}</td>
                                {% elif ip.range %}
                                <td>{{ ip.range }}</td>
                                {% elif ip.host %}
                                <td>{{ ip.host }}</td>
                                {% endif %}
                                <td>{{ ip.type }}</td>
                                <td>{{ ip.frequency }}</td>
                                <td>
                                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a href="{% url 'delete_network' ip.id %}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br/>
        {% endif %}
  </div>
  <div class="tab-pane fade show active container border border-top-0" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <br/>
        <a href="{% url 'add_credentials' %}" class="btn btn btn-dark" role="button" aria-disabled="true">Add</a>
        <br/><br/>
        {% if credentials %}
            <div class="card container">
                <div class="row">
                    <div class="card-header">
                        <table class="table">
                          <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for cred in credentials %}
                            <tr>
                                <td>{{ cred.name }}</td>
                                <td>{{ cred.type }}</td>
                                <td>{{ cred.description }}</td>
                                <td>
                                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a href="{% url 'delete_credential' cred.id %}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br/>
        {% endif %}
  </div>
  <div class="tab-pane fade container border border-top-0" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
{% endblock content %}